/* Anjus Ex's Responsiveness starts */
/* For mobile phones: */
@media (orientation: portrait) {

  div.contacts_flex {
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    ". 💁 💁 💁 💁 💁 💁 💁 💁 💁 💁 ."
    ". 🎤 🎤 🎤 🎤 🎤 🎤 🎤 🎤 🎤 🎤 ."
    ;
    font-weight: bold;
    font-family: 'Varela Round';
}
    
.contents {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕"
    "🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔"
    "📰 📰 📰 📰 📰 📰 📰 📰 📰 📰 📰 📰"
    "🙌 🙌 🙌 🙌 🙌 🙌 🙌 🙌 🙌 🙌 🙌 🙌"
    "🧻 🧻 🧻 🧻 🧻 🧻 🧻 🧻 🧻 🧻 🧻 🧻"
    "📓 📓 📓 📓 📓 📓 📓 📓 📓 📓 📓 📓"
    "👣 👣 👣 👣 👣 👣 👣 👣 👣 👣 👣 👣"
    ;}
    
    .footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "📛 📛 📛 📛 📛 📛 📛 📛 📛 📛 📛 📛"
    "🍁 🍁 🍁 🍁 🍁 🍁 🍁 🍁 📲 📲 📲 📲"
    ;}

  
  }
/* Anjus Ex's Responsiveness Ends */

/* Anju Flex Starts */
/* For Wider Screen: */
@media (orientation: landscape) {

#msg_area {  
  margin-left: 20px;
}
  div.contacts_flex {
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    ". . 💁 💁 💁 💁 🎤 🎤 🎤 🎤 . .";
    font-weight: bold;
    font-family: 'Varela Round';
}


.contents {
height: 100%;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: auto;
grid-template-areas:
"🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕 🤕"
"🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔 🍔"
"📰 📰 📰 📰 📰 📰 📰 📰 📰 📰 📰 📰"
"🙌 🙌 🙌 🙌 🙌 🙌 🧻 🧻 🧻 🧻 🧻 🧻"
" . . . 📓 📓 📓 📓 📓 📓 . . ."
"👣 👣 👣 👣 👣 👣 👣 👣 👣 👣 👣 👣"
;}

.footer{
width: 100%;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: auto;
grid-template-areas:
". .  📛 📛 🍁 🍁 🍁 🍁 📲 📲 . . "
;}
}
/* Anju Flex Ends */

/* Flex Selectors Starts*/

div#info { grid-area : 💁 ;}
div#msg_area { grid-area : 🎤 ;}

.header {
    user-select: none;
    grid-area: 🤕 ;
}
.navigation {
    user-select: none;
    grid-area: 🍔 ;    
}

.recent {
    user-select: none;
    grid-area: 📰 ;

}
.abul {
    user-select: none;
    grid-area: 🙌 ;

}
.kabul {
    user-select: none;
    grid-area: 🧻 ;
}
.contacts {
    user-select: none;
    grid-area: 📓 ;
}
.footer {
    user-select: none;
    grid-area: 👣 ;
}

#navigation {
    grid-area: 📛 ;
}
#map {
    grid-area: 🍁 ;
    }

#social {
    grid-area: 📲; 
}

/* Flex Selectors End */





    /* Contact Form Styles Starts */
    

    
    
    fieldset {
      background-color: #eeeeee;
      border-radius: 10px;
      border: solid 5px #008C27;
    }
    
    
    legend {
    
        display: inline;
        font-family: "Tiro Bangla", serif;
        font-style: normal;
        display: block;
        color: white;
        font-size: medium;
        font-weight: bold;
        padding: 10px 10px 10px 10px;
        margin: 5px 5px 5px 0px;
        background-color: #00a830;
        background-image: linear-gradient(to top right, #00a830, #008c27);
        border-radius: 5px 5px 5px 5px;
        user-select: none;
    }
    
    input {
      margin: 2px auto 2px auto;
      width: 80%;
      height: 25px;
      border: solid 1px #008c27;
      border-radius: 5px;
    }
    textarea {
      height: auto;
      max-height: 300px;
      min-height: 50px;
      border: solid 1px #008c27;
      border-radius: 5px;
  }
    /* Contact Form Styles Ends */





/* Antorjatik Settings */
a {
    text-decoration: none;
    color: black;
}
/* Settings End */

/* Navigation er Utpotti */

div.nav {
height: 100%;
display: grid;
grid-template-columns: repeat(8, auto);
grid-gap: 5px;
justify-content: center;
font-weight: bold;
font-family: 'Varela Round';
}

div.nav > div
{
  height: 20px;
  background: #ffffff;
  margin: auto;
  padding: 0; 
}

div.nav > .home,div.nav > .about,div.nav > .contact,div.nav > .join,div.nav > .donor
{
    margin: auto;
    padding: 20px 2.5px 15px 2.5px;
}
div.nav > .donor {
    background: #008c27;
    padding: 5px 5px 5px 5px;
    border-radius: 2.5px;
    color: white;
}
div.nav > .donor:hover {
    transform: scale(1.25);
    animation: bounce 0.5s ease-in-out infinite alternate;
    cursor: cell;  }

  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px); /* Adjust bounce height as needed */
    }
  }
  
div.nav > .home {
    background: #acacac;
    padding: 5px 5px 5px 5px;
    border-radius: 2.5px;
    color: rgb(0, 0, 0);
}

/* Navigation Er Shomapti */

/* Social Buttons Shuru */

.social {
    background-image: url(./img/social.webp);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 1099.75%;
    border-radius: 5px;
    
}
.social:hover {
    animation: mirza 1s 1;
    border-radius: 25px 25px 25px 25px;
    
}



.facebook {
    width: 30px;
    height: 30px;
    background-position: 0px -30px;
    margin: -5px 0px 0px 0px;
}
.linkedin {
    width: 30px;
    height: 30px;
    background-position: -120px -30px;
    margin: -5px 0px 0px 0px;
}

.instagram {
    width: 30px;
    height: 30px;
    background-position: -90px -30px;
    margin: -5px 0px 0px 0px;
}
/* Social Buttons Shesh */


/* Mirza's Animations Starts */

@keyframes mirza {
    0% {border-radius: 5px 5px 5px 5px;}
    25% {border-radius: 15px 5px 5px 5px;}
    50% {border-radius: 15px 15px 5px 5px;}
    75% {border-radius: 15px 15px 15px 5px;}
    100% {border-radius: 15px 15px 15px 15px;}
    }

/* Mirza's Animations End */






/* Slider Ex Starts */
.recent_images {display: none}
img.rimg {
    vertical-align: middle;
    object-fit:cover;height:250px;width: 100%;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.img_text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.img_no {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The img_dotss/bullets/indicators */
.img_dots {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .img_dots:hover {
  background-color: #717171;
}

/* Fading animation */
.slider_img_effect {
  animation-name: slider_img_effect;
  animation-duration: 1.5s;
}

@keyframes slider_img_effect {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.img_text {font-size: 11px}
}
/* Slider Ex Ends */

/* Horny H2 Designs Starts */
h2#notice,h2#sheba {
    font-family: "Tiro Bangla", serif;
    font-style: normal;
    display: block;
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 0px;
    background-color: #00a830;
    background-image: linear-gradient(to top right, #008c27, #00a830);
    border-radius: 5px 5px 5px 5px;
    user-select: none;
    clip-path: polygon(0% 0px, 105% 0px, 98% 100%, 0% 100%);
}
h2#recent {
    display: inline;
    font-family: "Tiro Bangla", serif;
    font-style: normal;
    display: block;
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 0px;
    background-color: #00a830;
    background-image: linear-gradient(to top right, #00a830, #008c27);
    border-radius: 5px 5px 5px 5px;
    user-select: none;
}
/* Horny H2 Designs Ends */